@model IEnumerable<ExpenseReport.Models.ExpenseListItem>

@{
    ViewBag.Title = "ExpensesItemized";
}

<h2>Expenses Itemized</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Expense")
</p>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfExpense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfExpense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportId)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Expense", new { id = item.ExpenseId }, null) |
                @Html.ActionLink("Edit", "Edit", "Expense", new { id = item.ExpenseId }, null) |
                @Html.ActionLink("Delete", "Delete", "Expense", new { id = item.ExpenseId }, null)
            </td>
        </tr>
    }
    <tfoot>
        <tr>
            <td>Total</td>
            <td>@Model.Sum(i => i.Amount)</td>
        </tr>
    </tfoot>
</table>
